
@import "brand-specs",
        "mixins/_mixins";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: $font-body;

    &:before, &:after {
        box-sizing: inherit;
    }
}

html, body {
    font-size: $base-size;
    font-family: $font-body;
    color: $color-neutral;
}

img {
    display: block;
}

<<<<<<< HEAD
.hide {
    display: block;
    position: absolute;
    top: -99999rem;
=======
.-preload {
    display: none;
>>>>>>> b016a66d6f6efa21cd4463bf468b4d61da6ff231
}


@import "elements/_elements",
        "components/_components";