
@import "brand-specs",
        "mixins/_mixins";



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: $font-body;
    -webkit-font-smoothing: antialiased !important;

    &:before, &:after {
        box-sizing: inherit;
    }
}

html, body {
    font-size: $base-size;
    font-family: $font-body;
    color: $color-neutral;
}

img {
    display: block;
}

.hide {
    display: block;
    position: absolute;
    top: -99999rem;
}

.-preload {
    display: none;
}


@import "elements/_elements",
        "components/_components";