
.leaderboard {

    h2 {
        margin-bottom: 3rem;
    }

    .leaderboard-controls {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: -.5rem;

        .leaderboard-search {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            margin: .5rem;

            .icon-search {
                position: absolute;
                left: 1rem;
            }

            input {
                padding-left: 3rem;
                min-width: 100%;
            }

            label {
                position: absolute;
                left: 3rem;
                color: $color-neutral-dark;
                font-size: $size-large;
                transition: opacity .16s ease-in-out;
                pointer-events: none;
                opacity: 0;
                transition: opacity .1s ease-out;
            }

            input.empty + label {
                opacity: .5;
            }

        }

        .leaderboard-sort {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            margin: .5rem;
            border: $border-width solid $color-neutral-dark;
            border-radius: $border-radius;

            select {
                width: 100%;
                color: rgba(0,0,0,.5);
                padding: 0 1rem;
                -webkit-appearance: none;
                appearance: none;
                padding: 0 .5rem;
                font-size: $size-large;
                line-height: 3.125rem;
                height: 3.125rem;
                background-color: transparent;

                &::-ms-expand {
                    display: none;
                }
            }

            .icon-downArrow {
                position: absolute;
                right: 1rem;
                pointer-events: none;
            }
        }

        @media (min-width: 40rem) {
            flex-direction: row;
            justify-content: space-between;

            .leaderboard-search {
                width: 24rem;
            }

            .leaderboard-sort {
                width: 24rem;
            }
        }
    }

    .leaderboard-table {
        border: $border-width solid $color-neutral-light;
        border-radius: $border-radius;
        overflow: hidden;
        margin: 3rem 0;

        .leaderboard-noResults {
            margin: 2rem 0;
            color: $color-neutral;
            text-align: center;
        }

        @media (max-width: 34rem) {
            margin-left: -1rem;
            margin-right: -1rem;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            min-width: 4rem;
        }

        th {
            @include caps;
            letter-spacing: .1em;
            font-family: $font-brand;
            height: 9rem;
            position: relative;

            .rotate-none {
                display: block;
                position: absolute;
                bottom: .5rem;
                text-align: center;
                width: 100%;
                color: $color-neutral-dark;
                font-size: $size-large;
            }
        }

        td {
            padding: .25rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (min-width: 68rem) {
                padding: .5rem;
            }
        }

        @media (max-width: 34rem) {
            .button {
                padding: 0 .5rem;
                line-height: 2.5rem;
                font-size: 1rem;
            }
        }

        // Hide some columns on smaller screens
        @media (max-width: 40rem) {
            th:nth-of-type(1), td:nth-of-type(1),
            th:nth-of-type(3), td:nth-of-type(3) {
                display: none;
            }
        }

        /*
        @media (min-width: 68rem) {
            th:nth-of-type(1), td:nth-of-type(1),
            th:nth-of-type(3), td:nth-of-type(3),
            th:nth-of-type(4), td:nth-of-type(4) {
                width: 10%;
            }
        }
        */

        th:nth-of-type(2), td:nth-of-type(2) {
            text-align: left;
            padding-left: .5rem;

            @media (min-width: 68rem) {
                padding-left: 1rem;
            }

            @media (max-width: 40rem) {
                max-width: 1px;
                width: 100%;
            }
        }

        th:nth-of-type(5), td:nth-of-type(5) {
            padding: .25rem;
        }


        th:nth-of-type(1),
        th:nth-of-type(3),
        th:nth-of-type(4),
        th:nth-of-type(5) {

            .rotate-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                justify-content: center;
                padding-bottom: .5rem;
                text-align: left;
                height: 9rem;
            }

            .rotate-content {
                display: block;
                transform: rotate(-90deg);
                text-align: left;
                white-space: nowrap;
                text-align: left;
                width: 9rem;
                text-align: left;
                position: absolute;
                padding-left: .5rem;
            }
        }

        tr:not(:first-child) {
            border-top: $border-width solid $color-neutral-light;
        }

        th:not(:last-child), td:not(:last-child) {
            border-right: $border-width solid $color-neutral-light;
        }
    }
}