/*
Error: Invalid CSS after "...68b4d61da6ff231": expected "{", was "}"
        on line 40 of assets/scss/main.scss

35:     top: -99999rem;
36: =======
37: .-preload {
38:     display: none;
39: >>>>>>> b016a66d6f6efa21cd4463bf468b4d61da6ff231
40: }
41: 
42: 
43: @import "elements/_elements",
44:         "components/_components";

Backtrace:
assets/scss/main.scss:40
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:688:in `block'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/alex/.rvm/gems/ruby-2.4.2/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/Users/alex/.rvm/gems/ruby-2.4.2/bin/sass:23:in `load'
/Users/alex/.rvm/gems/ruby-2.4.2/bin/sass:23:in `<main>'
/Users/alex/.rvm/gems/ruby-2.4.2/bin/ruby_executable_hooks:15:in `eval'
/Users/alex/.rvm/gems/ruby-2.4.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...68b4d61da6ff231\": expected \"{\", was \"}\"\A         on line 40 of assets/scss/main.scss\A \A 35:     top: -99999rem;\A 36: =======\A 37: .-preload {\A 38:     display: none;\A 39: >>>>>>> b016a66d6f6efa21cd4463bf468b4d61da6ff231\A 40: }\A 41: \A 42: \A 43: @import \"elements/_elements\",\A 44:         \"components/_components\";"; }
