@import "https://unpkg.com/aos@next/dist/aos.css";
@import url("https://use.typekit.net/fpv5xjs.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased !important; }
  *:before, *:after {
    box-sizing: inherit; }

html, body {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  color: #616161; }

img {
  display: block; }

.hide {
  display: block;
  position: absolute;
  top: -99999rem; }

.-preload {
  display: none; }

button, .button {
  background-color: #1874dc;
  border-radius: 0.5rem;
  border: none;
  color: white;
  display: inline-block;
  font-family: Rift, sans-serif;
  font-size: 1.25rem;
  letter-spacing: .1em;
  line-height: 2.5;
  outline: none;
  padding: 0 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .16s ease-in-out; }
  button:hover, .button:hover {
    background-color: #3d8eea; }

figure figcaption {
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Rift, sans-serif;
  color: rgba(97, 97, 97, 0.5);
  font-size: 11px;
  line-height: 1.25; }

h1, h2 {
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #1874dc;
  font-family: Rift, sans-serif;
  line-height: 1; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.25rem; }

input, textarea {
  border: 2px solid #000000;
  border-radius: 0.5rem;
  padding: 0 .5rem;
  font-size: 1.25rem;
  line-height: 3.125rem;
  height: 3.125rem;
  background-color: white; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #d4d4d4; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #d4d4d4; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #d4d4d4; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #d4d4d4; }

dl {
  display: flex; }

.about .about-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem auto 3rem;
  max-width: 32rem; }
  .about .about-logos img {
    width: auto;
    height: auto;
    max-width: 100%; }
.about h2 {
  margin-bottom: 2rem; }
.about p {
  font-size: 1.125rem;
  line-height: 2rem; }
.about .about-figure {
  position: relative;
  margin-top: 2rem; }
  .about .about-figure .about-photo {
    overflow: hidden;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-end; }
    .about .about-figure .about-photo img {
      position: relative;
      width: 100%;
      min-width: 36rem; }
  .about .about-figure .about-course-1 {
    position: absolute;
    top: 10%;
    right: 12%;
    width: 28%;
    min-width: 9rem; }
  .about .about-figure .about-course-2 {
    position: absolute;
    bottom: -15%;
    left: 5%;
    width: 28%;
    min-width: 9rem; }
  .about .about-figure figcaption {
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Rift, sans-serif;
    color: white;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    opacity: 1; }
  @media (min-width: 75rem) {
    .about .about-figure .about-course-1 {
      top: calc(10% + 8rem); }
    .about .about-figure .about-course-2 {
      bottom: calc(-15% - 20rem); } }

.callouts .callouts-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem; }
.callouts .callout {
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  margin: 1rem;
  flex-basis: 26rem;
  flex-grow: 1;
  min-width: 16rem; }
  .callouts .callout h2, .callouts .callout p, .callouts .callout .button {
    position: relative;
    z-index: 999; }
  .callouts .callout h2 {
    margin-bottom: 2rem; }
  .callouts .callout p {
    font-size: 1.25rem;
    margin-bottom: 2rem; }
  .callouts .callout:first-child {
    background-color: #1874dc; }
    .callouts .callout:first-child h2 {
      color: white; }
    .callouts .callout:first-child p {
      color: white; }
    .callouts .callout:first-child .button {
      background-color: white;
      color: #1874dc; }
      .callouts .callout:first-child .button:hover {
        background-color: #f2f2f2; }
  .callouts .callout:last-child {
    background-color: #d4d4d4; }
    .callouts .callout:last-child ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .callouts .callout:last-child ul li {
        margin: 0 1rem; }
.callouts .callout-topo-1 {
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: calc(100% + 4rem);
  max-width: 32rem;
  z-index: 0; }
.callouts .callout-topo-2 {
  position: absolute;
  bottom: -2rem;
  right: -2rem;
  z-index: 0; }

footer .footer-wrapper {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  padding: 1.5rem; }
footer .stjude {
  background-color: #d21849;
  padding: 3rem 2rem; }
  footer .stjude .footer-wrapper {
    display: flex;
    flex-direction: column-reverse; }
  footer .stjude .follow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  footer .stjude .socials {
    list-style: none;
    display: flex;
    align-items: center;
    margin: -.5rem;
    position: relative;
    min-width: 8rem;
    padding-top: 1.5rem; }
    footer .stjude .socials:before {
      position: absolute;
      top: -.5rem;
      left: .75rem;
      letter-spacing: .2rem;
      text-transform: uppercase;
      font-weight: bold;
      content: "Follow Us";
      color: white;
      font-family: Rift, sans-serif; }
    footer .stjude .socials li {
      margin: 0 .75rem; }
  footer .stjude p {
    color: white;
    font-size: 1.4rem;
    flex-grow: 1;
    margin-top: 2rem; }
  @media (min-width: 68rem) {
    footer .stjude .footer-wrapper {
      flex-direction: row-reverse;
      align-items: center; }
    footer .stjude .follow {
      border-right: 2px solid white;
      padding-right: 2rem;
      margin-right: 3rem; }
    footer .stjude .socials {
      margin-left: 3rem; }
    footer .stjude p {
      margin-top: 0; } }
footer .credits {
  background-color: #000000;
  padding: 3rem 2rem; }
  footer .credits .footer-wrapper {
    display: flex;
    flex-direction: column; }
  footer .credits .credits-pledgeItLogo {
    width: 100%;
    position: relative;
    margin-bottom: 2rem; }
  footer .credits .credits-content {
    display: flex;
    flex-direction: column; }
    @media (min-width: 64rem) {
      footer .credits .credits-content {
        flex-direction: row; } }
  footer .credits .credits-catamaranLogo {
    width: 100%;
    margin-top: 2rem;
    display: flex; }
    @media (min-width: 68rem) {
      footer .credits .credits-catamaranLogo {
        margin-top: 0;
        justify-content: flex-end; } }
    footer .credits .credits-catamaranLogo a {
      display: block;
      position: relative;
      left: 0;
      opacity: .33;
      transition: opacity .16s ease-in-out; }
      footer .credits .credits-catamaranLogo a:hover {
        opacity: 1; }
  footer .credits p {
    width: 100%;
    color: rgba(255, 255, 255, 0.5); }
    footer .credits p a {
      color: white;
      opacity: .5;
      transition: opacity .16s ease-in-out; }
      footer .credits p a:hover {
        opacity: 1; }
    footer .credits p.pitch {
      font-size: 1.25rem;
      line-height: 2rem;
      max-width: 36rem; }
    footer .credits p.terms {
      font-family: Rift, sans-serif;
      line-height: 1.2;
      margin-top: 2rem;
      max-width: 32rem; }
      @media (min-width: 64rem) {
        footer .credits p.terms {
          margin-top: .5rem;
          text-align: right;
          padding-left: 4rem; } }

header .header-wrapper {
  max-width: 68rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: flex-end;
  margin-bottom: 15%; }
header .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  header .intro h1 {
    margin: 0 4rem; }
  header .intro p {
    font-size: 1.25rem;
    margin: 1rem 1rem 2rem;
    letter-spacing: .05em;
    line-height: 1.5; }
  header .intro .intro-logo {
    margin: 2rem 0 1rem; }
  header .intro .intro-arrow {
    margin: 3rem; }
header .banner {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 3rem 0px rgba(32, 35, 35, 0.1);
  position: absolute;
  top: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
  align-items: center;
  z-index: 999;
  height: 4rem;
  width: calc(100% - 1rem);
  max-width: 68rem;
  margin: 0 .5rem; }
  header .banner .banner-stats {
    display: flex; }
    header .banner .banner-stats .stat-label {
      text-transform: uppercase;
      letter-spacing: .15em;
      font-family: Rift, sans-serif;
      color: #616161;
      font-size: 0.75rem;
      font-weight: 700; }
    header .banner .banner-stats .stat-value {
      font-family: Open Sans, sans-serif;
      color: #1874dc;
      font-size: 1rem;
      font-weight: 600; }
    @media (max-width: 36rem) {
      header .banner .banner-stats p {
        display: flex;
        flex-direction: column-reverse; }
      header .banner .banner-stats p:first-of-type {
        display: none; } }
    @media (min-width: 36rem) {
      header .banner .banner-stats {
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 1; }
        header .banner .banner-stats .stat-label, header .banner .banner-stats .stat-value {
          margin: .25rem; } }
header .cover {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: calc(14rem + 10%); }
  header .cover figcaption {
    position: absolute;
    width: 50%;
    max-width: 12rem;
    left: 1rem;
    bottom: 4%;
    z-index: 999; }
  header .cover .cover-main {
    display: block;
    position: relative;
    right: 0;
    width: 90%;
    top: 8rem;
    z-index: 999; }
  header .cover .cover-grass {
    width: 100%;
    min-width: 34rem;
    height: auto;
    position: absolute;
    left: 4rem;
    top: -7rem;
    z-index: 500; }
  header .cover .cover-course-1 {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 18%;
    max-width: 243px; }
  header .cover .cover-course-2 {
    position: absolute;
    right: 22%;
    top: 8%;
    width: 45%;
    z-index: 501;
    max-width: 852px; }
  header .cover .cover-course-3 {
    position: absolute;
    right: 8%;
    bottom: 17%;
    width: 45%;
    max-width: 735px; }
  header .cover .cover-dots-1 {
    position: absolute;
    left: 8%;
    bottom: 25%;
    width: 30%;
    max-width: 447px; }
@media (min-width: 34rem) {
  header .header-wrapper {
    margin-bottom: 10%; }
  header .intro {
    margin-top: -4rem; }
  header .cover figcaption {
    bottom: 12%; } }
@media (min-width: 68rem) {
  header .header-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10%; }
  header .intro {
    width: 50%;
    padding-top: 6rem;
    text-align: left;
    align-items: flex-start;
    margin-top: 0; }
    header .intro h1 {
      margin: 0; }
    header .intro p {
      margin-left: 0; }
    header .intro .intro-arrow {
      margin-left: 0; }
  header .cover {
    position: absolute;
    left: 50%;
    right: 0; }
    header .cover figcaption {
      bottom: 25%; }
    header .cover .cover-course-1 {
      top: 10%; }
    header .cover .cover-course-2 {
      top: 8%; }
    header .cover .cover-course-3 {
      bottom: calc(17% + 6rem); }
    header .cover .cover-dots-1 {
      bottom: calc(25% + 6rem); } }

.leaderboard h2 {
  margin-bottom: 3rem; }
.leaderboard .leaderboard-controls {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: -.5rem; }
  .leaderboard .leaderboard-controls .leaderboard-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: .5rem; }
    .leaderboard .leaderboard-controls .leaderboard-search .icon-search {
      position: absolute;
      left: 1rem; }
    .leaderboard .leaderboard-controls .leaderboard-search input {
      padding-left: 3rem;
      min-width: 100%; }
    .leaderboard .leaderboard-controls .leaderboard-search label {
      position: absolute;
      left: 3rem;
      color: #000000;
      font-size: 1.25rem;
      transition: opacity .16s ease-in-out;
      pointer-events: none;
      opacity: 0;
      transition: opacity .1s ease-out; }
    .leaderboard .leaderboard-controls .leaderboard-search input.empty + label {
      opacity: .5; }
  .leaderboard .leaderboard-controls .leaderboard-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: .5rem;
    border: 2px solid #000000;
    border-radius: 0.5rem; }
    .leaderboard .leaderboard-controls .leaderboard-sort select {
      width: 100%;
      color: rgba(0, 0, 0, 0.5);
      padding: 0 1rem;
      -webkit-appearance: none;
      appearance: none;
      padding: 0 .5rem;
      font-size: 1.25rem;
      line-height: 3.125rem;
      height: 3.125rem;
      background-color: transparent; }
      .leaderboard .leaderboard-controls .leaderboard-sort select::-ms-expand {
        display: none; }
    .leaderboard .leaderboard-controls .leaderboard-sort .icon-downArrow {
      position: absolute;
      right: 1rem;
      pointer-events: none; }
  @media (min-width: 40rem) {
    .leaderboard .leaderboard-controls {
      flex-direction: row;
      justify-content: space-between; }
      .leaderboard .leaderboard-controls .leaderboard-search {
        width: 24rem; }
      .leaderboard .leaderboard-controls .leaderboard-sort {
        width: 24rem; } }
.leaderboard .leaderboard-table {
  border: 2px solid #d4d4d4;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 3rem 0;
  /*
  @media (min-width: 68rem) {
      th:nth-of-type(1), td:nth-of-type(1),
      th:nth-of-type(3), td:nth-of-type(3),
      th:nth-of-type(4), td:nth-of-type(4) {
          width: 10%;
      }
  }
  */ }
  @media (max-width: 34rem) {
    .leaderboard .leaderboard-table {
      margin-left: -1rem;
      margin-right: -1rem; } }
  .leaderboard .leaderboard-table table {
    border-collapse: collapse;
    width: 100%; }
  .leaderboard .leaderboard-table th, .leaderboard .leaderboard-table td {
    min-width: 4rem; }
  .leaderboard .leaderboard-table th {
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    font-family: Rift, sans-serif;
    height: 9rem;
    position: relative; }
    .leaderboard .leaderboard-table th .rotate-none {
      display: block;
      position: absolute;
      bottom: .5rem;
      text-align: center;
      width: 100%;
      color: #000000;
      font-size: 1.25rem; }
  .leaderboard .leaderboard-table td {
    padding: .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media (min-width: 68rem) {
      .leaderboard .leaderboard-table td {
        padding: .5rem; } }
  @media (max-width: 34rem) {
    .leaderboard .leaderboard-table .button {
      padding: 0 .5rem;
      line-height: 2.5rem;
      font-size: 1rem; } }
  @media (max-width: 40rem) {
    .leaderboard .leaderboard-table th:nth-of-type(1), .leaderboard .leaderboard-table td:nth-of-type(1),
    .leaderboard .leaderboard-table th:nth-of-type(3), .leaderboard .leaderboard-table td:nth-of-type(3) {
      display: none; } }
  .leaderboard .leaderboard-table th:nth-of-type(2), .leaderboard .leaderboard-table td:nth-of-type(2) {
    text-align: left;
    padding-left: .5rem; }
    @media (min-width: 68rem) {
      .leaderboard .leaderboard-table th:nth-of-type(2), .leaderboard .leaderboard-table td:nth-of-type(2) {
        padding-left: 1rem; } }
  .leaderboard .leaderboard-table th:nth-of-type(5), .leaderboard .leaderboard-table td:nth-of-type(5) {
    padding: .25rem; }
  .leaderboard .leaderboard-table th:nth-of-type(1) .rotate-wrapper,
  .leaderboard .leaderboard-table th:nth-of-type(3) .rotate-wrapper,
  .leaderboard .leaderboard-table th:nth-of-type(4) .rotate-wrapper,
  .leaderboard .leaderboard-table th:nth-of-type(5) .rotate-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
    padding-bottom: .5rem;
    text-align: left;
    height: 9rem; }
  .leaderboard .leaderboard-table th:nth-of-type(1) .rotate-content,
  .leaderboard .leaderboard-table th:nth-of-type(3) .rotate-content,
  .leaderboard .leaderboard-table th:nth-of-type(4) .rotate-content,
  .leaderboard .leaderboard-table th:nth-of-type(5) .rotate-content {
    display: block;
    transform: rotate(-90deg);
    text-align: left;
    white-space: nowrap;
    text-align: left;
    width: 9rem;
    text-align: left;
    position: absolute;
    padding-left: .5rem; }
  .leaderboard .leaderboard-table tr:not(:first-child) {
    border-top: 2px solid #d4d4d4; }
  .leaderboard .leaderboard-table th:not(:last-child), .leaderboard .leaderboard-table td:not(:last-child) {
    border-right: 2px solid #d4d4d4; }

.section {
  text-align: center;
  padding: 1.5rem;
  margin: 0 auto 4rem;
  max-width: 68rem; }
  @media (min-width: 68rem) {
    .section {
      margin-top: 8rem; } }

.webCTA {
  display: flex;
  flex-direction: column-reverse; }
  .webCTA .webCTA-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem; }
    .webCTA .webCTA-content img {
      margin-bottom: 2rem; }
    .webCTA .webCTA-content h2 {
      margin-bottom: 2rem; }
      .webCTA .webCTA-content h2 sup {
        font-family: Rift, sans-serif; }
    .webCTA .webCTA-content p {
      font-size: 1.25rem;
      margin-bottom: 2rem; }
  .webCTA .webCTA-wrapper {
    position: relative;
    max-width: 32rem;
    margin: 0 auto; }
  .webCTA figcaption {
    position: absolute;
    left: 10%;
    bottom: 5%; }
  .webCTA .webCTA-main {
    width: 100%;
    position: relative;
    z-index: 500; }
  .webCTA .webCTA-course-1 {
    position: absolute;
    right: 6%;
    z-index: 1;
    bottom: 10%;
    width: 20%;
    min-width: 4rem;
    max-width: 8rem; }
  .webCTA .webCTA-course-2 {
    position: absolute;
    left: calc(-1rem - 6%);
    top: 35%;
    width: 30%;
    min-width: 6rem;
    max-width: 16rem;
    z-index: 999; }
  .webCTA .webCTA-dots-1 {
    position: absolute;
    top: 5%;
    right: 25%;
    width: 40%;
    min-width: 4rem;
    max-width: 16rem; }
  .webCTA .webCTA-dots-2 {
    position: absolute;
    bottom: 12%;
    left: 10%;
    width: 35%;
    min-width: 4rem;
    max-width: 16rem; }
  @media (min-width: 68rem) {
    .webCTA {
      flex-direction: row-reverse; }
      .webCTA .webCTA-content {
        text-align: left;
        align-items: flex-start;
        margin-top: 0;
        width: 50%; }
      .webCTA .webCTA-wrapper {
        width: 50%;
        max-width: 50%;
        margin-right: 6rem;
        margin-top: 4rem; } }

/*# sourceMappingURL=main.css.map */
