
button, .button {
    display: inline-block;
    outline: none;
    border: none;
    text-transform: uppercase;
    line-height: 3;
    padding: 0 1.25em;
    text-align: center;
    background-color: $color-primary;
    font-family: $font-brand;
    color: white;
    border-radius: $border-radius;
    text-decoration: none;
    min-width: 8em;
}